.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s linear;
}
.modal__container {
  position: relative;
  background-color: #fff;
  padding: 36px;
  width: 430px;

  flex-shrink: 0;
  border-radius: 10px;

  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.5;
}

.modal__heading {
  color: #000;
  font-family: Inter, "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.21;
  margin-top: 0;
  margin-bottom: 54px;
}
.modal__input {
  box-sizing: border-box;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  padding-bottom: 13.26px;
  margin-bottom: 29.24px;
}

.modal__input::placeholder {
  color: #000;
  font-family: Inter, "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
}

.modal__button {
  width: 100%;
  background-color: #000;
  height: 50.152px;
  margin-top: 40px;
  color: #fff;
  border-radius: 2px;
  font-family: Inter, "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  border: none;
}
.modal__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__button_disabled:hover {
  opacity: 1;
  cursor: default;
}

.modal__button_disabled {
  background-color: lightgray;
}

.modal__container_preview {
  display: flex;
  padding: 0;
  max-height: 75vw;
  max-width: 75vw;

  width: auto;
  height: auto;
  background: none;
}

.modal__caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
  font-family: Inter, "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400px;
}

.modal__preview {
  max-width: 100%;
}

.modal__wrap {
  position: relative;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}
.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: red;
  opacity: 1;
  position: absolute;
  top: calc(100% - 23px);

  transition: opacity 0.3s;
}

@media screen and (max-width: 605px) {
  .modal__container {
    width: calc(100% - 38px);
    padding: 25px 22px;
  }

  .modal__close {
    
    width: 26px;
    height: 26px;
    
    position: absolute;
    top: -38px;
    right: 0px;
    background-image: url(../images/close-icon.svg);

   
    background-size: contain;

    position: absolute;
  
  
  }

  #modal-close-button {
    background-image: url(../images/close-icon.svg);

    width: 26px;
    height: 26px;
    background-size: contain;

    position: absolute;
    right: 0;
    top: -38px;
  }
  .modal__heading {
    color: #000;
    font-family: Inter, "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.21;
    margin-bottom: 76px;
  }
  .modal__input {
    padding-bottom: 9px;
    margin-bottom: 29.24px;
  }
  .modal__button {
    font-family: Inter, "Arial", sans-serif;

    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21;
  }
  .modal__caption {
    position: absolute;
    left: auto;
    top: calc(100% + -20px);
    margin: 0;
  }

#modal-preview-close{
  width: 26px;
    height: 26px;
    position: absolute;
    top: -10px;
    right: 18px;
    background-image: url(../images/close-icon.svg);
    background-size: contain;
    position: absolute;
}

}